<%- include('./partials/_header.ejs') %>

<body>

  <!-- navbar -->
  <header>
    <nav>
      <ul>
        <li><img id="logo" src="https://cdn.discordapp.com/attachments/929080108004818974/930954448841342976/logo.png" alt="logo" /></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">About us</a></li>

        <li class="logout">
          <a href="views/checkout" id="cart-span">
            <i onclick="getCart()" id="cart" class="fas fa-shopping-cart"></i>

            <span id="cartItems" class="cart-quantity">0</span>
          </a>

          <a href="#">Hi Rosetta</a><a href="#">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
<!-- Navbar ending -->

    <main>
      <div class="about">
        <section class="aboutUs">
          <div class="cover"></div>
          <h4 class="userStory"> Wood-Fired Goodness </h4>
        </section>
      </div>

      <!-- ##Menu -->
      <div class="container menus">
        <div class="row">
          <% for(const item of menus) { %>
          <div class="item col-sm-6">
            <section class="menu">
              <!-- <form method="POST" action="<% item.id %>/checkout"></form> -->
              <img class="thumbnail" src="<%= item.thumbnail_url %>" alt="" />
              <div class="description">
                <%= item.description %>
                <p class="price"><%= item.price %></p>
                <button
                  type="button"
                  class="add-to-cart btn btn-warning"
                  onclick="addToCartClicked('<%= item.id %>', '<%= item.description %>', '<%= item.thumbnail_url %>','<%= item.price %>')";>
                  Add to Cart
                </button>
              </div>
              <!-- </form> -->
            </section>
          </div>
          <% } %>
        </div>
      </div>
      <section class="footer">
        <footer>
          <div class="address">
            <p>2022 Lighthouse Street, Toronto, Canada</p>
            <p>416-988-2431</p>
          </div>

          <div class="icons">
            <h4>Follow Us</h4>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </footer>
      </section>
    </main>
  </body>
  <script>
   let itemCount = 0;

$(".add-to-cart").click(function () {
  itemCount++;
  $(".cart-quantity").html(itemCount);
});
  </script>
</html>
