<%- include('partials/_header') %>

  <body>

    <main>
      <div class="about">
        <section class="aboutUs">
          <img
            class="cover"
            src="https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80"
            alt=""
          />
          <h4 class="userStory">Where magic tasting pizza is created</h4>
        </section>
      </div>

      <!-- ##Menu -->
      <div class="container menus">
        <div class="row">
          <% for(const item of menus) { %>
          <div class="item col-sm-6">
            <section class="menu">
              <!-- <form method="POST" action="<% item.id %>/checkout"></form> -->
              <img class="thumbnail" src="<%= item.thumbnail_url %>" alt="" />
              <div class="description">
                <%= item.description %>
                <p class="price"><%= item.price %></p>
                <button
                  type="button"
                  class="add-to-cart btn btn-warning"
                  onclick="addToCartClicked('<%= item.id %>')";>
                  Add to Cart
                </button>
              </div>
              <!-- </form> -->
            </section>
          </div>
          <% } %>
        </div>
      </div>

      <section class="footer">
        <footer>
          <div class="address">
            <p>2022 Lighthouse Street, Toronto, Canada</p>
            <p>416-988-2431</p>
          </div>

          <div class="icons">
            <h4>Follow Us</h4>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </footer>
      </section>
    </main>
  </body>
  <script>
   let itemCount = 0;

$(".add-to-cart").click(function () {
  itemCount++;
  $(".cart-quantity").html(itemCount);
});
  </script>
</html>
